.list-group-item.active {
	background: #757575 !important;
	border-radius: 15px;
}

.list-group-item {
	margin-top: 2px;
	border: none !important;
}

.animation {
	transition: all 100ms linear !important;
}

/* .pagination.page-item.active{
    background-color: black !important;
    color: white;
} */
